<div class="container my-5">
    <div class="row mb-4">
        <div class="col-8 text-center slight-opacity-header-bg dashed-border">
            <div class="py-3">
                <img src="../../../../assets/img/drag-and-drop.png" alt="image">
            </div>

            <div class="py-3">
                <p class="regular-text-font">Drag&Drop file here</p>
                <p class="regular-text-font"><small>or</small></p>
                <button class="btn btn-primary btn-lg regular-text-fon">Upload</button>
            </div>
        </div>

        <div class="col-4">
            <div class="text-center">
                <p class="header-text-font">Additional options</p>
            </div>
            

            <div class="m-4">
                <p class="dropdown-toggle" role="button">Delete tags</p>
            </div>

            <div>
                <div class="form-check m-1">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Basic tags</label>
                </div>
                <div class="form-check m-1">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Ass tags</label>
                </div>
                <div class="form-check m-1">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Sub tags</label>
                </div>
            </div>

            <div class="form-check m-4">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">To one line</label>
            </div>

            <div class="text-center mt-auto">
                <button class="btn btn-primary btn-lg regular-text-font">Convert</button>
            </div>
        </div>
    </div>

    <div class="row">
        <h4 class="text-center header-text-font">Selected file</h4>
        <p class="regular-text-font">Some very impressive and gorgeous file name</p>
    </div>
</div>
