<div class="header-background pb-3">
    <div class="d-flex justify-content-center py-3">
        <h1 class="logo-text-font">Subtitle cleaner</h1>
    </div>

    <div class="container">
        <nav class="navbar navbar-expand-lg justify-content-between header-text-font">
            <div>
                <ul class="navbar-nav">
                
                    <li class="nav-item active mx-2">
                        <a class="nav-link" [routerLink]="['/']">Home</a>
                    </li>
    
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">Cleaners</a>
                        <div class="mb-3 dropdown-menu regular-background">
                            <a class="dropdown-item" [routerLink]="['/cleaner']" [queryParams]="{type: ConverterType.Ass}">.ASS</a>
                            <a class="dropdown-item" [routerLink]="['/cleaner']" [queryParams]="{type: ConverterType.Sbv}">.SBV</a>
                            <a class="dropdown-item" [routerLink]="['/cleaner']" [queryParams]="{type: ConverterType.Srt}">.SRT</a>
                            <a class="dropdown-item" [routerLink]="['/cleaner']" [queryParams]="{type: ConverterType.Sub}">.SUB</a>
                            <a class="dropdown-item" [routerLink]="['/cleaner']" [queryParams]="{type: ConverterType.Vtt}">.VTT</a>
                        </div>
                    </li>
    
                </ul>
            </div>
            <div>
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="File id"
                        [(ngModel)]="fileId" [ngModelOptions]="{ standalone: true }">

                        <span class="input-group-text" role="button"
                        [routerLink]="['/converted']" [queryParams]="{id: fileId}">
                            <i class="bi bi-search"></i>
                        </span>
                    </div> 
                </form>
            </div>
        </nav>
    </div>
</div>
