.input-group-text {
    background-color: var(--highlighted-warm-color);
    border: none;
}

.form-control {
    background-color: rgba(var(--highlighted-warm-color-rgb), 0.75);
    border: none;
}

.form-control:focus {
    border-color: var(--highlighted-warm-color);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(var(--highlighted-warm-color-rgb), 0.75);
}

.dropdown-item:hover {
    color: black;
    background-color: var(--header-color);
}

.dropdown-item:focus {
    color: black;
    background-color: var(--highlighted-warm-color);
}
