<div class="container my-5">

    <div class="row">
        <div class="col-6 my-3">
            <div class="row">
                <div class="col">
                    <img src="../../../../assets/img/ass-file-conversion.png" alt="image">
                </div>

                <div class="col text-center m-auto">
                    <h4 class="header-text-font">Ass file Cleaning</h4>
                    <p class="regular-text-font">Convert your .ass file to .txt while removing unnecessary formatting and tags.</p>
                    <a [routerLink]="['/cleaner']" [queryParams]="{type: ConverterType.Ass}"
                    class="btn btn-primary btn-lg regular-text-font">To Ass Converter</a>
                </div>
            </div>
        </div>

        <div class="col-6 my-3">
            <div class="row">
                <div class="col">
                    <img src="../../../../assets/img/sbv-file-conversion.png" alt="image">
                </div>

                <div class="col text-center m-auto">
                    <h4 class="header-text-font">Sbv file Cleaning</h4>
                    <p class="regular-text-font">Convert your .sbv file to .txt while removing unnecessary formatting and tags.</p>
                    <a [routerLink]="['/cleaner']" [queryParams]="{type: ConverterType.Sbv}"
                    class="btn btn-primary btn-lg regular-text-font">To Sbv Converter</a>
                </div>
            </div>
        </div>

        <div class="col-6 my-3">
            <div class="row">
                <div class="col">
                    <img src="../../../../assets/img/srt-file-conversion.png" alt="image">
                </div>

                <div class="col text-center m-auto">
                    <h4 class="header-text-font">Srt file Cleaning</h4>
                    <p class="regular-text-font">Convert your .srt file to .txt while removing unnecessary formatting and tags.</p>
                    <a [routerLink]="['/cleaner']" [queryParams]="{type: ConverterType.Srt}"
                    class="btn btn-primary btn-lg regular-text-font">To Srt Converter</a>
                </div>
            </div>
        </div>

        <div class="col-6 my-3">
            <div class="row">
                <div class="col">
                    <img src="../../../../assets/img/sub-file-conversion.png" alt="image">
                </div>

                <div class="col text-center m-auto">
                    <h4 class="header-text-font">Sub file Cleaning</h4>
                    <p class="regular-text-font">Convert your .sub file to .txt while removing unnecessary formatting and tags.</p>
                    <a [routerLink]="['/cleaner']" [queryParams]="{type: ConverterType.Sub}"
                    class="btn btn-primary btn-lg regular-text-font">To Sub Converter</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6 my-3">
            <div class="row">
                <div class="col">
                    <img src="../../../../assets/img/vtt-file-conversion.png" alt="image">
                </div>
        
                <div class="col text-center m-auto">
                    <h4 class="header-text-font">Vtt file Cleaning</h4>
                    <p class="regular-text-font">Convert your .vtt file to .txt while removing unnecessary formatting and tags.</p>
                    <a [routerLink]="['/cleaner']" [queryParams]="{type: ConverterType.Vtt}"
                    class="btn btn-primary btn-lg regular-text-font">To Vtt Converter</a>
                </div>
            </div>
        </div>
    </div>

</div>
