@import url("~/node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("~/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import url("@fontsource/julee/index.css");
@import url("@fontsource/libre-baskerville/index.css");
@import url("@fontsource/baskervville/index.css");
@import url('ngx-toastr/toastr');

:root {
    --header-color: #55BDCA;
    --header-color-rgb: 85, 189, 202;
    --regular-color: #C8EFF9;
    --highlighted-cold-color: #022444;
    --highlighted-cold-color-rgb: 2, 36, 68;
    --highlighted-warm-color: #F27D42;
    --highlighted-warm-color-rgb: 242, 125, 66;
}

::selection {
    background-color: var(--highlighted-warm-color);
}

html, body {
    position: relative;
    height: 100%;
}

app-root {
    position: relative;
    display: block;
    min-height: 100%;
    padding-bottom: 56px;
}

.logo-text-font {
    font-family: Julee;
}

.header-text-font {
    font-family: Libre Baskerville;
}

.regular-text-font {
    font-family: Baskervville;
}

.header-background {
    background-color: var(--header-color);
}

.regular-background {
    background-color: var(--regular-color);
}

.btn-primary {
    --bs-btn-bg: var(--highlighted-cold-color);
    border: none;
}

.btn-primary:hover {
    --bs-btn-hover-color: black;
	--bs-btn-hover-bg: var(--header-color);
}

.btn-primary:active {
    --bs-btn-active-color: black;
    --bs-btn-active-bg: var(--highlighted-warm-color);
}

.btn-primary:focus {
    color: black;
    background-color: var(--highlighted-warm-color);
    --bs-btn-focus-shadow-rgb: none;
}

.form-check-input {
    border: none;
}

.form-check-input:checked {
    background-color: var(--highlighted-warm-color);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.3rem rgba(var(--highlighted-warm-color-rgb), 0.4);
}
